.flex-container {
  display: flex;
}

.admin-sidenav {
  width: 160px;
  z-index: 1;
  background-color: $light-green;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
  min-height: 100vh;
}

.admin-main {
  font-size: 28px;
  padding: 0px 10px;
  width: 100%;
  text-align: center;
}

.admin-sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.admin-sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-width : 768px) {
  .admin-sidenav {
    padding-top: 50px;
    width: 110px;
  }
  .admin-sidenav a {font-size: 14px;}
}

.buttons {
  height: 45px;
}

.container_form {
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  background-color: $light-gray;
  text-align: center;
  padding-bottom: 15px;
  min-height: 220px;
}
