@import "bootstrap";
@import "./config/colors";
@import "./admin/index";
@import "./customize/index";

h1 {
  font-size: 32px;
  margin-top: 25px;
}
h2 {
  font-size: 22px;
  margin-top: 15px;
}
h3 {
  font-size: 26px;
}
p,th,td { font-size: 14px; }
body {
  font-family: "Lato", sans-serif;
}

table, th, td {
  border: 1px solid black;
  padding: 5px 15px;
  margin: auto;
}

th,td {
  text-align: center;
}

.inline-flex {
  display: inline-flex;
}

.btn-validate {
  width: 100%;
  background-color: $green;
}

.btn-validate:hover {
  background-color: $dark-green;
}

.btn-enter {
  min-width: 300px;
  background-color: $light-green;
  color: #ffffff;
}

.margin-top-100 {
  margin-top: 100px;
}
